.form-section{
    background: white;
    padding: 2rem;
}
.form-section {
    font-size: 1.5rem;
    font-weight: 700;
}
.form-section form {
    padding: 1rem;
}
.form-section form label {
    padding: 1rem;
}
.form-section form button {
    background: blue;
    font-size: 15px;
    color: white;
    background-color: blue;
}
.form-section form button:hover {
    background: white;
    color: black;
}