.why-section{
    text-align: center;
    justify-content: center;
    height: 70vh;
    background: white;
    padding: 1rem;
}
.why-section h2{
font-size: 2.5rem;
font-weight: 700;
}
.why-section p{
    font-size: 1.3rem;
    text-align: center;
    padding: 0 6rem 0;

}